@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #0000;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-clip: content-box;
  border: 6px solid #0000;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cecece;
}

.btn {
  width: 195px;
  height: 45px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #fff;
  border-radius: 6px;
  padding: 8px 58px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-decoration: none;
}

.btn-green {
  background-color: #30ce6f;
}

.btn-red {
  color: #000;
  background-color: #ff0b0b;
}

.btn-search {
  width: 210px;
  height: 45px;
  background: #000;
  border-radius: 0 6px 6px 0;
  padding: 8px 64px;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.arrow-back {
  z-index: 3;
  position: absolute;
  top: -30px;
  left: -100px;
}

body {
  background-color: #282828;
}

.header {
  text-align: center;
  color: #fff;
  padding-top: 30px;
  font-weight: 700;
}

.header .title {
  font-size: 48px;
}

.header .page-name {
  padding-top: 30px;
  font-size: 36px;
}

.todo-container {
  width: 1035px;
  height: 490px;
  background-color: #6b6a6a;
  border-radius: 20px;
  flex-direction: column;
  margin: 30px auto;
  padding: 40px 100px;
  display: flex;
  overflow-y: auto;
  box-shadow: 4px 4px 10px 10px #00000040;
}

.todo__header {
  align-items: center;
  display: flex;
}

.todo__create-btn {
  margin-right: 15px;
}

.todo__search-input {
  width: 405px;
  height: 45px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 6px 0 0 6px;
  outline: none;
  padding: 10px 35px;
  font-size: 20px;
  line-height: 24px;
}

.todo-inner {
  grid-auto-rows: 70px;
  row-gap: 40px;
  padding-top: 40px;
  display: grid;
}

.todo-block {
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.todo-block__important {
  background-color: #fcd95c;
}

.todo-block__title {
  color: #000;
  padding-left: 45px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.todo-block__info {
  align-items: center;
  font-size: 20px;
  display: flex;
}

.todo-block__divider {
  width: 2px;
  height: 50px;
  background-color: #c4c4c4;
}

.todo-block__difficulty {
  width: 120px;
  text-align: center;
}

.todo-block__date {
  padding: 0 20px;
}

.todo-block__finished {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 2px;
  margin: 0 20px;
  position: relative;
}

.todo-block__checked {
  display: block;
}

.create-wrapper {
  padding-top: 30px;
  position: relative;
}

.create-block {
  justify-content: space-between;
  display: flex;
}

.create-block:nth-child(3) {
  margin: 60px 0;
}

.create-input__wrapper {
  position: relative;
}

.create-input__name {
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  top: -24px;
  left: 0;
}

.create-input__title {
  width: 510px;
  height: 45px;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.create-input__description {
  width: 510px;
  height: 100px;
  resize: none;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 24px;
}

.create-checkbox__block {
  align-items: center;
  display: flex;
}

.create-checkbox__text {
  color: #fff;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.create-checkbox__square {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px;
}

.create-select {
  cursor: pointer;
  position: relative;
}

.create-select select {
  width: 200px;
  height: 45px;
  text-align: center;
  color: #000;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.create-select select option {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.create__btn-block {
  align-items: center;
  display: flex;
}

.create__btn-delete {
  margin-right: 15px;
}

.info-wrapper {
  flex-direction: column;
  display: flex;
  position: relative;
}

.info-header {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.info-difficulty, .info-important {
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  margin-right: 20px;
  padding: 8px 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.info-important__true {
  background-color: #fcd95c;
}

.info-date {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.info-block {
  min-height: 310px;
  justify-content: space-between;
  margin-top: 40px;
  display: flex;
}

.info-text {
  color: #fff;
  flex-direction: column;
  padding-right: 80px;
  display: flex;
}

.info-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.info-description {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.info__btn-create {
  align-self: flex-end;
  display: flex;
}

